.upper{
    
    height: auto;
    width: 100%;
    display: inline-flex;
}
.left{
    
    height: auto;
    width: 50%;
    
    }
    h5{
        text-decoration-line: underline;
    }
    .right{
    
        height: auto;
        width: 50%;
        padding-left:900px ;
        

    }
.header{
    
    height: auto;
    width:100%;
    background-color: aquamarine;
    display: inline-flex;
}
h6{
margin-left: 150px;
font-size: 130;
    
}
input{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.container{
    
    height: 300px;
    width: 100%;
            background-image: url(../images/landscape-tree-nature-forest-grass-horizon-wilderness-mountain-snow-winter-cloud-sky-field-meadow-prairie-sunlight-morning-hill-lake-mountain-range-spring-autumn-haze-alpine-blue-agriculture-season-ridge-pl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
text-align: center;
padding-top: 80px;
padding-left: 80px;
}
    p3{
        margin-left: 40%;
        
    }
    p4{
        font-size: xx-large;
        margin-left: 50%;
        margin-top: 60px;
    }
    p5{
        margin-left: 60%;
         }
         .container2{
            
            height: 300px;
            width: 100%;
            display: inline-flex;
            text-align: center;
         }
         .one{
            height: 300px;
            width: 40%;
            margin: 10px;
            


         }
         button{
            color: greenyellow;
            border:greenyellow;
            
         }
         .two{ 
            
            height: 300px;
            width: 20%;
            margin: 10px;
            background-color: skyblue;
            color: white; 
            background-color: skyblue;
        
            



        }.three{ 
            
            height: 300px;
            width: 20%;
            margin: 10px;
            background-color:orange;
            color: white;

        }.four{ 
            
            height: 300px;
            width: 20%;
            margin: 10px;
            background-color: rgb(100, 128, 0);
            color: white;

        }
        .container3{
        
            height: 300px;
            width: 100%;  
            display: inline-flex;  
            margin-top: 10px;        

        }
        .first{
    
            height: 300px;
            width: 50%;  
        

            
        }
        
        
        .second{
    
            height: 300px;
            width: 50%; 
            text-align: center; 
            
        }
        strong{
            background-color: orange;
            color: white;
        }
        .container4{
        
            height: 300px;
            width: 100%;
            display: inline-flex;
        }
        .a{
            
            height: 300px;
            width: 30%;
            background-color: grey;
    
            
            

        }
        .start
        image{
            padding-left: 30px;
        }
        .h{
            text-decoration: none;
            margin-left: 30px;
        }
        .b{
            
            height: 300px;
            width: 30%;
            text-align: center;
            background-color: gray;

        }
        .s{
            text-decoration: none;
        }
        .c{
            
            height: 300px;
            width: 40%;
            text-align: center;
            background-color: gray;
            
        }
        .footer{
            text-decoration: underline;
        }
        .k{
            text-decoration: none;
        }
    




